h1 {
    color: #5d24e2;text-align:center;
}
h2 {
    color:#1a29aa;
}
h3 {
    color: #1a29aa;
}
h4 {
    color:#1a29aa;
}
h5 {
    color: #1a29aa;
}
p {
    color: #111116;
}


table, th, td{
    border:1px solid black;
}

html {
    height: 100%;
}

body {
    background-image: url(https://github.com/ibc2k1/ibc2k1.github.io/blob/main/pic/pexels-photo-2310713.jpeg?raw=true);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

img{
    max-width:40%;
    display:block;
}