@media screen and (min-width: 481px) and (max-width:769px){
    h1{
        font-size:4rem;color: #5d24e2;text-align:center;
    }
    h2{
        font-size: 3rem;color:#1a29aa;
    }
    h3{
        font-size:3rem;color: #1a29aa;
    }
    h4{
        font-size: 3rem;color:#1a29aa;
    }
    h5{
        font-size:3rem;color: #1a29aa;
    }
    p{
        font-size: 1rem;color: #111116;
    }
}


@media screen and (min-width: 769px){
    h1{
        font-size:3rem;color: #5d24e2;text-align:center;
    }
    h2{
        font-size: 2rem;color:#1a29aa;
    }
    h3{
        font-size:2rem;color: #1a29aa;
    }
    h4{
        font-size: 2rem;color:#1a29aa;
    }
    h5{
        font-size:2rem;color: #1a29aa;
    }
    p{
        font-size: 1.5rem;color: #111116;
    }
}


table, th, td{
    border:1px solid black;
}

html {
    height: 100%;
}

body {
    background-image: url(https://github.com/ibc2k1/ibc2k1.github.io/blob/main/pic/pexels-photo-2310713.jpeg?raw=true);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

img{
    max-width:40%;
    display:block;
}